head
  link#css(rel='stylesheet', href='/css/neofetch.css')
  title neofetch
body
  etc
    |          _,met$$$$$gg.
    br
    |     ,g$$$$$$$$$$$$$$$P.
    br
    |   ,g$$P"     """Y$$.".
    br
    |  ,$$P'              `$$$.
    br
    | ',$$P       ,ggs.     `$$b:
    br
    | `d$$'     ,$P"'   .    $$$
    br
    |  $$P      d$'     ,    $$P
    br
    |  $$:      $$.   -    ,d$$'
    br
    |  $$;      Y$b._   _,d$P'
    br
    |  Y$$.    `.`"Y$$$$P"'
    br
    |  `$$b      "-.__
    br
    |   `Y$$
    br
    |    `Y$$.
    br
    |      `$$b.
    br
    |        `Y$$b.
    br
    |           `"Y$b._
    br
    |               `"""
    br
  p !{fetch}