head
  meta(charset='UTF-8')
  title shot pew pew
h2
  span.a &apos;
  span.b Shots
h1 08/31/2020
img(src='/pics/canaan.PNG')
h1 06/30/2020
img(src='/pics/me.PNG')
h1 06/25/2020
img(src='/pics/mapmipwiki.png')
h1 04/16/2020
img(src='/pics/food.PNG')
h1 11/13/2029
img(src='/pics/disc.PNG')
h1 10/26/2019
img(src='/pics/truck.jpg')
h1 08/06/2019
img(src='/pics/guessr.PNG')
p.legal LEGAL DISCLAIMER: THESE ARE NOT MY IMAGES. NO COPYRIGHT INFRINGEMENT INTENDED.
