doctype html
head
  meta(charset='UTF-8')
  title changelog
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  link#css(rel='stylesheet', href='/css/changelog.css')
  script.
    $(document).ready(function () {
    $("p").mouseover(function () {
    $("#change").css("color", "var(--var2)"),
    $("#log").css("color", "var(--var1)");
    });
    $("p").mouseout(function () {
    $("#change").css("color", "var(--var1)"),
    $("#log").css("color", "var(--var2)");
    });
    });
p
  span#change change
  span#log log
h1 disclaimer: changelogs are pretty lame. not maintained after 2020. heres my git log, though.
div.program
  etc !{git}
h1 11/05/2020
ul
  li fancier scrollbars
  li Better Changelog CSS
  li jQuery testing above
h1 11/04/2020
ul
  li metadata added to most pages
h1 11/3/2020
ul
  li Try w a v e s
h1 10/28/2020
ul
  li Logo is now SVG
h1 10/22/2020
ul
  li Helvetica Revolution Starts
  li changelog bug fixed
h1 10/16/2020
ul
  li WOTW index added, new WOTW
  li you think we can&apos;t go on without more index changes?
h1 10/13/2020
ul
  li yet more index css fixes
  li OC and Shots index added
h1 10/12/2020
ul
  li image centered
  li new main page CSS fixes, new desc, and minor bugs patched
  li politics readded
  li New icon
  li plans added
h1 10/11/2020
ul
  li pics index added
  li testing removed from site
  li self, discord and changelog added
  li index overhauling of minor details
  li New Title for index
  li 404 page added
  li Moved to github, github link added
h1 10/10/2020
ul
  li Domain Purchased, and hosting online and running
  li Website Created off of the scraps of Neocities page, special thanks to Elli
  li brand new &quot;coming soon&quot; page
