- var url = 'https://files.1ctinus.me/shots/'
h1
  span.a &apos;
  span.b Shots
if input[1] !=  "?list=true"
  header too slow? <a id="footer-link" href="./shots?list=true">check out speedy mode.</a>
  each val,key in input[0]
    time= val.split('.')[0]
    a(href=url + val)
      img(src=url + val + "?w=1000&h=1000" alt= 'Original Content finished at ' + val.split('.')[0])
else
  ul
    each val,key in input[0]
      li: a(href=url + val)= val.split('.')[0]
  footer too boring? <a id="footer-link" href="./shots">check out normal mode.</a>