body {
    background-color: black;
    overflow-y: hidden;
  }

  p {
    color: white;
    font-family: serif;
    font-size: 900px;
    font-weight: 100;

  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  div#container:hover::-webkit-scrollbar {
    background: #fff;
  }