@font-face {
    font-family: fira;
    src: url('https://raw.githubusercontent.com/mozilla/Fira/master/woff/FiraMono-Bold.woff');
  }
body {
    background-color: #10121b;
}
etc, p {
    color: #eeeeee;
    font-family: fira;
    font-size: 22px;
    display: inline-block;
}
etc {
    white-space: pre;
    color: #2c7f93;
}