h1 Wednesday Photo Creater
div#container
  video#videoElement(autoplay='', tabindex='-1', autobuffer='auto', preload='auto')
  div#flex
    img#img1
    img#img2
    img#img3
button#get-image(oncontextmenu="alert('Happy Hump Day!'); window.location = 'https://upload.wikimedia.org/wikipedia/commons/c/c8/CamelCase_new.svg'") Cheese
button#download Download
script(src='/js/camera.js')