h1 Wednesday TODO List 
h2 TODO:
ul#list
  div.container-l
    li(contenteditable='true') foo 
    button.del X
  div.container-l
    li(contenteditable='true') bar
    button.del X
button#new Add new Item
script(src='/js/list.js')