h1 Saturday Pie Chart Maker
canvas(id="myCanvas" width="800" height="600")
label Title:
input#title(value = "My Pie Chart")
table 
  thead 
    tr 
      th Name 
      th Value 
      th Color
      //- th Color 
  tbody 
    tr 
      td 
        input(value ="No. 1")
      td 
        input(value=2)
      td
        input(value="#F32")
    tr 
      td 
        input(value ="No. 2")
      td 
        input(value=3)
      td
        input(value="#36F")
    tr 
      td 
        input(value ="No. 3")
      td 
        input(value=2)
      td
        input(value="#4C2")
button#add Add new.. 
button#save Save 
script(src="/js/pie.js")