@font-face {
  font-family: helvetica;
  src: url('/helvetica.woff')
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

div#container:hover::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.8);
}

body {
  background-color: rgb(37, 14, 23);
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-family: helvetica;
}

.name {
  display: inline;
  color: rgb(78, 20, 153);
  text-shadow: rgba(20, 8, 0, 0.5) 7px 7px;
}

.date {
  color: rgb(108, 203, 184);
  text-shadow: rgba(20, 8, 0, 0.5) 7px 7px;
}

h2 {
  font-size: 65px;
  text-align: center;
  text-shadow: #140800 5px 5px;
  color: white
}

p {
  font-size: 60px;
  text-align: center;
  text-shadow: rgba(20, 8, 0, 0.5) 7px 7px;
  color: white;
  margin-top: -2%;
  white-space: pre;
}

#tit {
  color: #EEFF00;
  text-shadow: #161500 6px 6px;
  font-size: 100px;
  transform: scaleY(-1);
  margin: 0 45% 0 42.5%;
  cursor: default;
  transition: 1s;
}

#tit:hover {
  transform: scaleY(1);
}