body {
    background-color: #21004c;
    font-family: Helvetica, sans-serif;
    text-shadow: #0c0909 6px 6px;
}

h1 {
    font-size: 90px;
}
h2 {
    margin-left: 5%;
    font-size: 60px;
    color: #af1cbc;
}

img {
    margin-left: 10%;
    width: 1000px;
    height: auto;
}