@font-face {
    font-family: helvetica;
    src: url('/helvetica.woff')
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

div#container:hover::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.8);
}

body {
    background-color: rgb(134, 0, 51);
    animation-duration: 1000s;
    animation-iteration-count: infinite;
    animation-name: joe;
    font-size: 38px;
    font-weight: bold;
    font-family: helvetica;
}

.name {
    display: inline;
    color: rgb(78, 20, 153);
    text-shadow: #050014 3px 3px;
}

.date {
    color: rgb(108, 203, 184);
    text-shadow: #131400 3px 3px;
}

h2 {
    font-size: 40px;
    text-shadow: #140800 3px 3px;
    color: white
}

p {
    font-size: 39px;
    text-shadow: rgba(20, 8, 0, 0.5) 3px 3px;
    color: white;
    /* margin-top: -2%; */
}

#tit {
    color: #EEFF00;
    text-shadow: #161500 6px 6px;
    font-size: 40px;
    transform: scaleY(-1);
    margin: 0 45% 0 42.5%;
    cursor: default;
    transition: 1s;
}

#tit:hover {
    transform: scaleY(1);
}
