doctype html
head
  meta(charset='UTF-8')
  title 1ctinus&apos; very cool webzone on the internets
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='icon', href='icon.png', type='image/png', sizes='64x64')
  link#css(rel='stylesheet', href='indexstyle.css')
.logo
  p#svga 1ctinus.me
  p#svgb 1ctinus.me
  p#svgc 1ctinus.me
h1#welc.welc
script(src='loop.js')
p#para.para
  | Here is my website that looks like it came from 1998, now running on
  | Node.js.
  | I draw heavy inspirations from bill wurtz, which should be obvious if you know me or have eyes on how I designed
  | this very epic webzone.
  | This website is always in development, so it will never get &quot;finished&quot;, per se. All of the code should have been
  | written by be.
  | I am a hobby developer who has an interest in Linux, C, and some web dev. Check out my stuff on github.
  | This webzone is rather experimental, so that&apos;s why nothing looks very professional nor plain. have a good day.
br
input#Dave(type='text', placeholder='Do a quick search, maybe ask some questions and find some EGGS on the way.', autocomplete='off')
script(src='search/spasearchi.js')
p#output.para
p(style='font-size:72px;')
  | more hrefs,
  span.hrefs
    br
    a#pics(href='pics') pics 
    a(href='coming-soon.html', style='text-decoration:none')
      span#bloc block
      | -
      span#game game 
    a#self(href='self.html') self 
    a#futu(href='plans.html') future 
    a#disc(href='discord.html') discord 
    a#redd(href='https://reddit.com/user/1ctinus') reddit 
    a#haik(href='haikus.html') haikus 
    br
    a#chan(href='changelog.html') changelog 
    a#wurt(href='coming-soon.html') wurtz 
    a(href='politics.html', style='text-decoration:none')
      span#disc pol
      span#it it
      span#pics ics
    a#gith(href='https://github.com/1ctinus/') github 
p(style='font-size:72px;')
  br
  br
  | Check out the 
  a(href='wotw')
    span.we Website 
    span.si
      | Of
    span.we The 
    span.we Week!
a(href='wotw/12-07-2020')
  img.preview(src='wotwpreview.PNG')
