link#css(rel='stylesheet', href='/css/neofetch.css')
etc                   .o+`
  br
  |                 `ooo/
  br
  |                `+oooo:
  br
  |               `+oooooo:
  br
  |               -+oooooo+:
  br
  |             `/:-:++oooo+:
  br
  |            `/++++/+++++++:
  br
  |           `/++++++++++++++:
  br
  |          `/+++ooooooooooooo/`
  br
  |         ./ooosssso++osssssso+`
  br
  |        .oossssso-````/ossssss+`
  br
  |       -osssssso.      :ssssssso.
  br
  |      :osssssss/        osssso+++.
  br
  |     /ossssssss/        +ssssooo/-
  br
  |   `/ossssso+/:-        -:/+osssso+-
  br
  |  `+sso+:-`                 `.-/+oso:
  br
  | `++:.                           `-/+/
  br
  |  .`                                 `/
  br
p !{fetch}