head
  meta(charset='UTF-8')
  title art
  link(rel='icon', href='https://1ctinus.me/icon.png', type='image/png', sizes='64x64')
h2
  span.o O
  span.c C
h1 10/09/2020
img(src='/pics/quote.png')
h1 10/06/2020
img(src='/pics/web.png')
h1 09/17/2020
img(src='/pics/no2.png')
h1 08/10/2020
img(src='/pics/47.png')
h1 05/23/2020
img(src='/pics/uk.PNG')
h1 05/10/2019
img(src='/pics/fg.png')
h1 10/28/2017
img(src='/pics/HRE.png')
h1 09/24/2017
img(src='/pics/balkan.png')
