head
  meta(charset='UTF-8')
  title plans
  link(rel='icon', href='icon.png', type='image/png', sizes='64x64')
.a
  h1.c Coming Soon:
  ul
    li More WOTW
    li More Freshly Baked Whole Grain Spaghetti Code
.b
  h1
    span.d NOT
    span.e  COMING SOON:
  ul
    li Minecraft and Wurtz
    li Relevant Politics Joke
    li PHP
