head
  meta(charset='UTF-8')
  title plans
  link(rel='icon', href='icon.png', type='image/png', sizes='64x64')
.soon-container
  h1.soon-title Coming Soon:
  ul
    li More WOTW
    li More Freshly Baked Whole Grain Spaghetti Code
.notsoon-container
  h1
    span.title-brightred NOT
    span.title-dullred COMING SOON:
  ul
    li Minecraft and Wurtz
    li Relevant Politics Joke
    li PHP
