mixin menutext(title, href, color, shadowColor)
  a(style='text-shadow: '+shadowColor+' 6px 6px;color: '+color, href=href) #{title} 
doctype html
head
  title 1ctinus&apos; very cool webzone on the internets
.logo
  p#svga 1ctinus.me
  p#svgb 1ctinus.me
  p#svgc 1ctinus.me
h1#welc.welc
script(src='loop.js')
p#paragraph.paragraph
  | Here is my website that looks like it came from 1998, now running on
  | Node.js and Caddy.
  | I draw heavy inspirations from bill wurtz, which should be obvious if you look on how I designed
  | this very epic webzone. (Although I am always expirementing!)
  | This website is always in development, so it will never get &quot;finished&quot;, per se. All of the code should have been
  | written by be.
  | I am a hobby developer who has an interest in Linux, and some web dev. I like to hop from different languages. Check out my stuff on github.
  | This webzone is rather experimental, so that&apos;s why nothing looks very professional nor plain. have a good day.
br
input#Dave(type='text', placeholder='Do a quick search, maybe ask some questions and find some EGGS on the way.', autocomplete='off')
script(src='search/spasearchi.js')
p#output.paragraph
p(style='font-size:72px;')
  span#more more hrefs,
  span.hrefs
    br
    -
      var data2 = [
        ['pics', '/pics', 'rgb(255, 0, 106)', 'rgb(25, 0, 10)'],
        ['self', '/self', 'rgb(112, 255, 245)', 'rgb(3, 7, 7)'],
        ['plans', '/plans', 'rgb(255, 64, 153)', 'rgb(30, 0, 12)'],
        ['software', '/software', '	#009090', '#000808'],
        ['discord', 'discord', 'rgb(140, 132, 255)', 'rgb(2, 2, 5)'],
        ['reddit', 'https://reddit.com/user/1ctinus', 'rgb(255, 89, 0);', 'rgb(25, 8, 0)'],
        ['haikus', 'haikus', '#EEFF00', '#161500'],
        ['changelog', 'changelog', 'rgb(255, 170, 17)', 'rgb(102, 17, 0)'],
        ['linux', '/linux', ' rgb(255, 190, 153)', 'rgb(30, 24, 12)'],
        ['???', '/questions', "#945681", "#080407"],
        ['neofetch', '/neofetch', '#9da67a', '#061004']]
    each object in data2
      +menutext(object[0], object[1], object[2], object[3])
    a(href='politics', style='text-decoration:none') 
      span#discord pol
      span#politics it
      span#pics ics 
    +menutext('github','https://github.com/1ctinus','#6F63B5', '#060616')
p(style='font-size:72px;')
  br
  br
  | Check out the 
  a(href='wotw')
    span.wotw-blue Website 
    span.wotw-cyan
      | Of
    span.wotw-blue The 
    span.wotw-blue Week!
a(href='/notepad')
  img.preview(src='/pics/wotwpreview.png')
