mixin menutext(title, href, color)
  a(style='color:'+color, href=href) #{title} 
section
  svg(viewbox = "0 0 1500 300" text-anchor="middle")
    text#svga(x = 757 y = 276 font-size="180px" text-anchor="middle" fill="#00f") 1ctinus.me
    text#svgb(x = 750 y = 283 font-size="180px" text-anchor="middle" fill="#0f0") 1ctinus.me
    text#svgc(x = 743 y = 290 font-size="180px" text-anchor="middle" fill="#f00") 1ctinus.me
  h2.welcome
    each val, index in "welcome\xa0to\xa0the\xa0bestest\xa0webzone\xa0on\xa0the\xa0internets!".split("")
      span(style="--i:-"+index +"00ms") #{val}
section(style='--bgcolor: #013')
  article
    p Here is my website that looks like it came from 1998, now running on Node.js and Caddy.
    p I draw heavy inspirations from bill wurtz, which should be obvious if you look on how I designed
      |  this very epic webzone. (Although I am always expirementing!)
    p
      | This website is always in development, so it will never get &quot;finished&quot;, per se. All of the code is written by me so far.
    p
      | I am a hobby developer who has an interest in Linux, and some web dev. I like to hop from different languages. Check out my stuff on github.
      | This webzone is rather experimental, so that&apos;s why nothing looks very professional nor plain. have a good day.
  br
  p#output.paragraph
section(style='--bgcolor: #401')
  h2(style='font-size:5vh;') more hrefs,
  nav
    br
    -
      var data2 = [
        ['pics', '/pics', 'rgb(255, 0, 106)', ],
        ['software', '/software', '	#009090'],
        ['discord', 'discord', 'rgb(140, 132, 255)'],
        ['reddit', 'https://reddit.com/user/1ctinus', 'rgb(255, 89, 0);'],
        ['haikus', 'haikus', '#EEFF00',],
        ['linux', '/linux', ' rgb(255, 190, 153)'],
        ['???', '/questions', "#945681",],
        ['langs', '/langs', '#9da67a'],
        ['github','https://github.com/1ctinus','#6F63B5']]
    each object in data2
      +menutext(object[0], object[1], object[2])
    +menutext()
section(style='--bgcolor: #642')
  p(style='font-size:7w;')
    br
    br
    | Check out the 
    a(href='wotw')
      span.wotw-blue Website 
      span.wotw-cyan Of
      span.wotw-blue  The Week!
  a(href='/wotw/list')
    img.preview(src='/pics/wotwpreview.png' alt="wotw image preview")
