
h2 Linux
p
  | ever since January 2021, I have been a linux user. I first started out with 
  a(href='https://ubuntucinnamon.org') Ubuntu Cinnamon.  
  |Before that, I tried Mint, which I liked and Ubuntu MATE, which I did not like. I could never get it working due do a peice of crap called 'RST' (or as I think it should stand for Really Stupid Technology)
  | I finally got it to work with ~70 Gigabytes of storage. I customized it and thought it was good, not realizing until later how terrible it looked. 
p
  | Then, after getting bored
  | of Cinnamon, I decided to try out something called i3 the posts on
  a(href='https://reddit.com/r/unixporn') r/unixporn.
  | (don't worry, it's safe for work. Just Linux Screenshots.)
  | I wanted to try out 'i3-gaps', a fork of i3, but with gaps. The issue? It's not on apt for some reason, so I decided to go with normal i3. And? It sucked, I hated the keybinds.
  | so I tried out this thing called bspwm, the second most common wm. And? I liked it. One of my favorite parts was how easy sxhkd was to configure. 
p
  | Sometime, I decided to flash Arch to an ISO. I could not find the empty partition, so I gave up. (not the worst thing to happen on a first time Arch installation!)
  | I made my own theme on Gruvbox, later switching to a theme that is similar to Arc? I decided to flatten everything to one color,
  span(style='background-color:#10121b')  #10121b
  | , Which is the theme I am using as of March 9. I decided to install Arch again in a VM, which went well. During a long weekend of mine, I finally found that USB
  | and reflashed Arch onto it, and, after a stressful few hours, it worked! I installed BSPWM onto it and copied my dotfiles. 
p
  | After a dream I had, I decided to switch from bspwm to xmonad, the wm I am using right now. I honestly prefer bspwm better, but I think there's a brighter future
  | with Xmonad. I also don't know Haskell. Also, I had a 6 hour period where my sound and webcam weren't working on a school day. Splendid.
p
  | I use the trifetcta of "simple" text editors that are not laughed at in 2021. Vim, Emacs, and VSCode. Right now I am using VSCode because I love it for | | web stuff. 
  | I used to use Gnome-terminal, then terminator, but then when I went WM only, I switched to kitty, then Alacritty because kitty is bloat.
  | I used a fork called picom-ibwhagen for it's corner radius. 
  | This article is like, super outdated. I have hopped, and I think I like GNOME and Cinnamon but hate the amount of Memory it uses. I am testing out qtile.
footer
  a(href='https://github.com/1ctinus/dotfiles') CHECKOUT OUT MY DOTFILES HERE.
img(src='/pics/gruvbox.png' alt="cringe but grey")
h3 gruvbox theme.
img(src='/pics/rice.png' alt="same thing essentialy but with a different look. the eyes decieve you")
h3 Old setup.