doctype html
head
  title index for pixel dump
  link(rel='stylesheet', media='screen and (min-width: 1000px)', href='/css/comp.css')
  link(rel='stylesheet', media='screen and (max-width: 1000px)', href='/css/phone.css')
.split.left
  .centered
    a.centered(href='/oc') OC
.split.right
  .centered
    a.centered(href='/shots') &apos;Shots
