body
    h2 console.log(title)
    p 
        | I like to program. I have to tried to learn too many programming languages, with some and some not sucsess. Some include
    ul
        li Go 
        li C 
        li Bash 
        li C++
        li Powershell 
        li Javascript
    p and some others less seriously. Mostly I have done bash and Javascript. I started programming in November 2020 when I tried to code some Javascript. 
        | The code sucked.
    div.program
        etc     document.getElementById("mas").onmouseover = function() {mouseOver()};
            | document.getElementById("mas").onmouseout = function() {mouseOut()};
            |
            |
            | function mouseOut() {
            | document.getElementById("mas").innerHTML = "Monday Alphabet Shuffle";
            | }
            | function mouseOver() {
            | document.getElementById("mas").innerHTML = function() {randomSite2()};
            | }
            | function randomSite2() {
            |     var j = parseInt(Math.random() * test.length);
            |     location = test[j];
            | }
            | var test = [
            | 'Monday Slphabet Ahuffle',
            | 'Daymon Alphabet Ehuffls',
            | 'Manday Olphabet Shuffle'
            | ];
