head
    title i am lazy
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap" rel="stylesheet"> 
h1 Wednesday Rushed Stopwatch
#demo 0:00:00.000
#button-container
  button#toggle(onclick='resume()' title="Pause/Play") 󰐌
  button(onclick='reset()' title="Reset to 0") 󰚰
script(src='/js/watch.js')