h1
  span.he Website 
  span.ha Of 
  span.he The 
  span.ha Week
p#sched Season One has concluded.
div(style='background-color:#005;padding:10px')
  h2
    span(style='color:#09a') SEASON TWO 
  table
    tr 
      td 03-17-2021&nbsp;
      td 
        a(href='/wotw/notepad') Wednesday Note Taking
    tr
      td 03-24-2021&nbsp;
      td 
        a(href='/wotw/watch') Wednesday Rushed Stopwatch
    tr
      td 03-31-2021&nbsp;
      td 
        a(href='/wotw/camera') Wednesday Photo Creator
    tr
      td 03-31-2021&nbsp;
      td 
        a(href='/wotw/list') Wednesday TODO List
    
h2 SEASON ONE
table
  tr
    td 10-19-2020&nbsp;
    td
      a(href='/wotw/10-19-2020/index.html') Monday Bad News Site
  tr
    td 10-26-2020&nbsp;
    td
      a(href='/wotw/10-26-2020/') Monday Alphabet Shuffle
  tr
    td 11-02-2020&nbsp;
    td
      a(href='/wotw/11-02-2020/') Monday Thing Counter
  tr
    td 11-09-2020&nbsp;
    td
      a(href='/wotw/11-09-2020/') Monday Yo Mama Generator
  tr
    td 11-16-2020&nbsp;
    td
      a(href='/wotw/11-16-2020/') Monday Bad Alphabet Generator
  tr
    td 11-23-2020&nbsp;
    td
      a(href='/wotw/11-23-2020/') Monday Word Printer
  tr
    td 11-30-2020&nbsp;
    td
      a(href='/wotw/11-30-2020/') Monday Score Generator
  tr
    td 12-07-2020&nbsp;
    td
      a(href='/wotw/12-07-2020/') Monday Lazy Thing
