h1
  | Politics is when people with diverse opinions and morals come together to have a calm and
  | intellegent disscourse. look at this random political disscusion i found for example...
p#l
p#r
p#c
script.
  var l = "drumpf nazi and is LITTERALY THE NEXT ADOLF HITLER. #CANCEL DRUMPF "
  var r = "SLEEPY JOE and the LIBERALS are trying to DECIMATE AMERICA and let CHINA WIN with BLM COMMIE AGENDAS into our FAX MACHINES. "
  var c = "but why can't we just not argue? why can't we just not have disscource? why can't we just not have debates and all not have opinions? i am very intellegent by saying \"both sides bad me good\", as fencesitting is easier then actually forming in opinion and it makes me feel good. "
  document.getElementById("l").innerHTML = l.repeat(57)
  document.getElementById("r").innerHTML = r.repeat(33)
  document.getElementById("c").innerHTML = c.repeat(18)
