@font-face {
    font-family: helvetica;
    src: '/helvetica.woff'
  }
body {
    background-color: #121014;
    color:aliceblue;
    font-family: helvetica
}
table, th, td {
    border: 3px solid rgb(180, 8, 180);
    border-collapse: collapse;
}
canvas {
    display: block
}
input {
    line-height: 2
}
input, button {
    background-color: rgba(255, 10, 255, 0.2);
    color: white;
    border: none;
  }
  button {
      border-radius: 5px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.15);
      border-top:2px solid rgba(255, 10, 255, 0);
      background-color: rgba(255, 10, 255, 0.3);
      color: white;
  }
  button:active{
      border-top: 2px solid #121014;
      border-bottom: 2px solid rgba(0,0,0, 0.2);
      background-color: rgba(255, 10, 255, 0.23);
  }